<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>org.playhaus.Introspectare.syncschema</string>
	<key>DataClasses</key>
	<array>
		<dict>
			<key>Name</key>
			<string>org.playhaus.Introspectare</string>
			<key>ImagePath</key>
			<string>Introspectare.icns</string>
		</dict>
	</array>
	<key>Entities</key>
	<array>
		<dict>
			<key>Name</key>
			<string>org.playhaus.Introspectare.Entry</string>
			<key>DataClass</key>
			<string>org.playhaus.Introspectare</string>
			<key>Attributes</key>
			<array>
				<dict>
					<key>Name</key>
					<string>dayOfCommonEra</string>
					<key>Required</key>
					<string>yes</string>
					<key>Type</key>
					<string>number</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>unread</string>
					<key>Type</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>note</string>
					<key>Type</key>
					<string>string</string>
				</dict>
			</array>
			<key>Relationships</key>
			<array>
				<dict>
					<key>Name</key>
					<string>constitution</string>
					<key>Required</key>
					<string>yes</string>
					<key>Ordinality</key>
					<string>one</string>
					<key>Target</key>
					<array>
							<string>org.playhaus.Introspectare.Constitution</string>
					</array>
					<key>DeleteRule</key>
					<string>nullify</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>annotatedPrinciples</string>
					<key>Required</key>
					<string>yes</string>
					<key>Ordinality</key>
					<string>many</string>
					<key>Ordering</key>
					<string>weak</string>
					<key>Target</key>
					<array>
							<string>org.playhaus.Introspectare.AnnotatedPrinciple</string>
					</array>
					<key>DeleteRule</key>
					<string>nullify</string>
					<key>InverseRelationships</key>
					<array>
						<dict>
							<key>EntityName</key>
							<string>org.playhaus.Introspectare.AnnotatedPrinciple</string>
							<key>RelationshipName</key>
							<string>entry</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>IdentityProperties</key>
			<array>
				<string>dayOfCommonEra</string>
			</array>
			<key>PropertyDependencies</key>
			<array>
				<array>
					<string>constitution</string>
					<string>annotatedPrinciples</string>
				</array>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>org.playhaus.Introspectare.Constitution</string>
			<key>DataClass</key>
			<string>org.playhaus.Introspectare</string>
			<key>Attributes</key>
			<array>
				<dict>
					<key>Name</key>
					<string>versionLabel</string>
					<key>Type</key>
					<string>string</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>creationDate</string>
					<key>Required</key>
					<string>yes</string>
					<key>Type</key>
					<string>date</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>note</string>
					<key>Type</key>
					<string>string</string>
				</dict>
			</array>
			<key>Relationships</key>
			<array>
				<dict>
					<key>Name</key>
					<string>principles</string>
					<key>Required</key>
					<string>yes</string>
					<key>Ordinality</key>
					<string>many</string>
					<key>Ordering</key>
					<string>strong</string>
					<key>Target</key>
					<array>
							<string>org.playhaus.Introspectare.Principle</string>
					</array>
					<key>DeleteRule</key>
					<string>nullify</string>
				</dict>
			</array>
			<key>IdentityProperties</key>
			<array>
				<string>versionLabel</string>
				<string>creationDate</string>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>org.playhaus.Introspectare.Principle</string>
			<key>DataClass</key>
			<string>org.playhaus.Introspectare</string>
			<key>Attributes</key>
			<array>
				<dict>
					<key>Name</key>
					<string>label</string>
					<key>Type</key>
					<string>string</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>creationDate</string>
					<key>Required</key>
					<string>yes</string>
					<key>Type</key>
					<string>date</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>explanation</string>
					<key>Type</key>
					<string>string</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>note</string>
					<key>Type</key>
					<string>string</string>
				</dict>
			</array>
			<key>Relationships</key>
			<array/>
			<key>IdentityProperties</key>
			<array>
				<string>label</string>
				<string>creationDate</string>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>org.playhaus.Introspectare.AnnotatedPrinciple</string>
			<key>DataClass</key>
			<string>org.playhaus.Introspectare</string>
			<key>Attributes</key>
			<array>
				<dict>
					<key>Name</key>
					<string>upheld</string>
					<key>Type</key>
					<string>boolean</string>
				</dict>
			</array>
			<key>Relationships</key>
			<array>
				<dict>
					<key>Name</key>
					<string>principle</string>
					<key>Required</key>
					<string>yes</string>
					<key>Ordinality</key>
					<string>one</string>
					<key>Target</key>
					<array>
							<string>org.playhaus.Introspectare.Principle</string>
					</array>
					<key>DeleteRule</key>
					<string>nullify</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>entry</string>
					<key>Required</key>
					<string>yes</string>
					<key>Ordinality</key>
					<string>one</string>
					<key>Target</key>
					<array>
							<string>org.playhaus.Introspectare.Entry</string>
					</array>
					<key>DeleteRule</key>
					<string>nullify</string>
					<key>InverseRelationships</key>
					<array>
						<dict>
							<key>EntityName</key>
							<string>org.playhaus.Introspectare.Entry</string>
							<key>RelationshipName</key>
							<string>annotatedPrinciples</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>Parent</key>
			<string>entry</string>
		</dict>
	</array>
</dict>
</plist>
